.text-center-pt-4 
{
    text-align: center;
    background-color: grey;
    color:white;
    font-family: "algerian";
    font-size:50px;
}
.table-table-hover-table-sm-table-striped-table-condensed-table-bordered
{
    margin-left:30%;
}
.text-center-py-2
{
    padding:15px;
    text-align: center;
    margin-top:10%;
}
.py-2
{
    padding:15px;
    text-align: center;
}
.transfer
{
    align-content: center;
}
.text-center 
{
    background-color: gray;
    color:white;
    text-align: center;
    height:60px;
    
}
.table-responsive-sm
{
    background-color: lightgray;
    margin-top: auto;
}